/* for h1  tag to put title in middle of website using html */
h1 {
    text-align: center;  
    color:blue;
  }
 body {
        background-image: url('background_full.jpeg');
        background-size: cover; 
      }
