<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="style.css">
    <title>css tutorial</title>
 <style>
         /* p{
            background-color:rgb(192, 92, 152);
            color: burlywood;
            padding: 10x
            
        }
        .line1{
            background-color: black;

        }
        .line2{
            background-color:black;
        }
        input[type ="text"]{
            padding: 10px;
            background-color: rgb(0, 123, 255);
        }
        button:hover{
            background-color: rgb(0, 128, 75);
            margin:10px;
            border:2px dotted red;
        }
         h1, p{
            background-color: brown;
        }  
        
     .styling{
            color:blue;
            background-color: rgb(165, 108, 42);
            padding-top: 100px;
            padding-bottom: 100px;
            padding-left: 100px; 
            padding: 100px 10px 25px 200px;
            border: 5px solid yellow;
        } 
        body{
            background-image: url("C:\Users\user\OneDrive\Pictures\rose image.jpg")
        };  */
        /* text */
        .txt{
            text-decoration: underline;
            text-transform: uppercase;
            text-align: center;
            font-family:'Courier New', Courier, monospace;
            font-style: italic;
            font-weight:bold;
            font-size: xx-large;
            line-height: 25px;
        }
        /* flex box */
        .container{
            display:flex;
            flex-direction: row;
            justify-content:baseline;
            border: 1px solid black;
            align-items: center;
            gap:10px;

        }
        .box{
            height: 100px;
            width: 100px;
            border: 1px solid black;
            margin:2px;
        }
       .cont-grid{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        /* grid-template-rows: 500px; */
        border: 1px solid red;
        gap : 10px 20px;

       }
       .grid-items{
        height: 100px;
        /* width:100px; */
        border: 2px solid black;

       }
       .one{
        grid-column-start: 1;
        grid-column-end: 4;
       }
       .two{
        grid-column-start: 2;
        grid-column-end: 4;
       }
    </style> 
</head>
<body>
     <h1 >HALIMA YASMIN </h1>
      <!-- <P class="line1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione, quidem. </P> 
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, ea</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, eaque?</p>
     <p class="line2">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis, eaque?</p>
     <input type="text">
     <button>Hover me</button>  -->
     <!-- <p class="styling">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet, possimus.</p> -->
    <!-- FLEX BOX -->
    <!-- <div class="container">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div> -->
    <!-- grid -->
    <div class="cont-grid">
        <div class="grid-items one"></div>
        <div class="grid-items two"></div>
        <div class="grid-items"></div>
        <div class="grid-items"></div>
        <div class="grid-items"></div>
        <div class="grid-items"></div>
        <div class="grid-items"></div>
        <div class="grid-items"></div>
        <div class="grid-items"></div>
        
    </div>
</body>
</html>